<%= form_with(model: appointment, local: true) do |form| %>
  <% if appointment.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(appointment.errors.count, "error") %> prohibited this appointment from being saved:</h2>

      <ul>
      <% appointment.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field mt-3">
    <%= form.label :title %>
    <%= form.text_field :title, class: "form-control" %>
  </div>

  <div class="field mt-3">
    <%= form.label :description %>
    <%= form.text_area :description, class: "form-control" %>
  </div>

  <div class="field mt-3">
    <%= form.label :appointment_date %>
    <%= form.datetime_select :appointment_date, class: "form-control" %>
  </div>

  <div class="field mt-3">
    <%= form.label "Paciente" %>
    <%= form.collection_select :user_id, Pacient.all, :id, :whole_name, prompt: true, class: "form-control" %>
  </div>

  <div class="field mt-3">
    <%= form.label :responsable %>
    <%= form.text_field :responsable, class: "form-control", value: current_user.names + " " + current_user.lastnames, :disabled => true%>
  </div>

  <div class="actions mt-3">
    <%= form.submit %>
  </div>
<% end %>
