<p id="notice"><%= notice %></p>

<h1>Citas</h1>

<table class="table table-hover">
  <thead>
    <tr>
      <th>Title</th>
      <th>Description</th>
      <th>Appointment date</th>
      <th>Responsable</th>
      <th>Paciente</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @appointments.each do |appointment| %>
      <tr>
        <td><%= appointment.title %></td>
        <td><%= appointment.description %></td>
        <td><%= appointment.appointment_date %></td>
        <td><%= User.find(appointment.responsable).names + " " + User.find(appointment.responsable).lastnames%></td>
        <td><%= appointment.user.names + " " + appointment.user.lastnames %></td>
        <td><%= link_to 'Mostrar', appointment %></td>
        <% if current_user.type != "Pacient" %>
          <td><%= link_to 'Editar', edit_appointment_path(appointment) %></td>
          <td><%= link_to 'Cancelar', appointment, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
<% if current_user.type != "Pacient" %>
  <%= link_to 'Nueva Cita', new_appointment_path, class: "btn btn-outline-dark" %>
<% else %>
<p><i>
  Si desea cancelar alguna cita por favor de mandar un mensaje al 81 82 52 58 10 o marcar al teléfono del consultorio, gracias.
</i></p>
<% end %>